#header {
  text-align: center;
  padding: 100px;
  height: 100vh;
  background-color: #0a0e7a;
  ;
}

.ResumeHomeBlock-headline-container {
  border: 1px solid #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 20vh;
}
.ResumeHomeBlock-headline span {
  font-family: 'Suranna', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 2.5em;
}
.ResumeHomeBlock-headline h2 {
  font-family: 'Josefin Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}
.vertical-timeline-element--work ul {
  font-family: 'Comfortaa', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}

.resumeSummary {
  color: #FFFFFF;
  font-family: 'Comfortaa', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  padding: 50px;
}

.resumeSummary * li{
  margin: 40px 0;
}

#toolbar {
  position: fixed;
  bottom: 0;
}

.MyAwesomeReactComponent-root-8{
  width: 100vw  !important;
}
